.footer {
  font-size: 1rem; 
  position: fixed;
  height: 40px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: white;
  padding: 5px 5%; /* Adjust padding with percentage */
  bottom: 0px;
  width: 100%;
  min-width: 300px;
  max-height: 40px;
}

.footer-content {
  display: flex;
  justify-content: flex-end; /* Align text to the right */
  align-items: center;
  width: 100%;
}

.footer a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  bottom: 0;
  right: 0;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none; 
  padding: 0;
}

.footer li {
  margin-right: 20px; 
}

.footer li:last-child {
  margin-right: 0;
}
