.home-page {
  text-align: left;
  height: calc(100vh - 150px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.home-page h1 {
  margin-bottom: 20px;
  margin-top: -150px;
}

.content {
  margin-top: 80px;
  max-width: 600px;
  /*padding: ;*/
  margin-left: 100px;
  margin-top: 200px;

} 
.content h1 {
  font-size: 60px;
  color: #222;

}
.content p {
  margin: 10px 0 30px;
  font-size: 20px;
  color:#222;
}
