.home-page {
  text-align: center;
  height: calc(100vh - 150px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.home-page h1 {
  margin-bottom: 20px;
  margin-top: -150px;
}

.content {
  margin-top: 80px;
} 