.navbar {
  color: white;
  padding: 20px;
  font-size: 1.5rem; 
  height: 20px; 
  position: fixed;
  display: flex;
  justify-content: center; 
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid black;

}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar li :hover {
  background-color: wheat;
  border-radius: 5px;
}

.navbar li:last-child {
  margin-right: 0; 
}

.navbar a {
  color:  black;
  text-decoration: none;
}
