.navbar {
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 1.5rem; 
  height: 50px; 
  position: fixed;
  display: flex;
  justify-content: center; 
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
<<<<<<< HEAD:src/components/Navbar/Navbar.module.scss
  z-index: 999;
=======
  z-index: 999; 
}
<<<<<<< HEAD
>>>>>>> parent of e927b4d (Refactor front-end architecture):src/styles/Navbar.module.css
=======
>>>>>>> parent of e927b4d (Refactor front-end architecture)

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}
.navbar li:last-child {
  margin-right: 0; 
}

.navbar a {
  color: white;
  text-decoration: none;
}
