.button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8e2de2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  position:absolute;
  bottom:110px;
  left: 110px;
  padding: 30px 200px;
}

.button button:hover {
  background-color: #320096;
}


.account {
  margin-top: 20px;
  font-size: 24px;
}
