.subjects-page {
    text-align: center;
    height: calc(100vh - 150px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  
  > h1 {
    margin-bottom: 20px;
  }
  
  > ul {
    list-style-type: none;
    padding: 0;
  
  
  > li {
    margin-bottom: 10px;
  }
  
  > a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  
  
    &:hover 
    color: #555;
  }
}
}