.navbar {
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 1.5rem; 
  height: 50px; 
  position: fixed;
  display: flex;
  justify-content: center; 
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;


> ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

> li {
  display: inline;
  margin-right: 20px;
}
& li:last-child {
  margin-right: 0; 
}

> a {
  color: white;
  text-decoration: none;
}
}